@use "./Reset.scss";

body {
  font-family: "montserrat";
}

//HEADER

.container-fluid {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  height: 10%;
  width: 100%;
  background-color: #2a2c31;
  z-index: 1;

  .logo {
    width: 8rem;
    height: 100%;
    color: white;
    font-size: 2.5rem;
  }

  .navbar-mobile {
    display: flex;
    justify-content: center;
    margin-left: auto;
    color: white;
    font-size: 2.75rem;
    .menu-icon {
      width: 3.5rem;
      height: 3.5rem;
      color: #fffedf;
    }
  }
}

//HOME

.home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(128, 128, 128, 0.573);
  z-index: -1;
  background-image: linear-gradient(black, transparent);
}

.home {
  display: flex;
  height: 100vh;
  position: relative;
  background-image: url("../assets/imageLaw02.jpg");
  background-size: cover;
  background-position: center;
  isolation: isolate;

  .slide-container {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    width: fit-content;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;

    .text {
      font-size: 1.5rem;
      font-weight: 500;
      width: 80%;
      padding: 0.5rem;
      color: rgb(255, 255, 255);
      box-sizing: border-box;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.166);
      backdrop-filter: blur(2px);
      border-radius: 1rem;
    }

    .btn-services {
      display: flex;
      justify-content: center;
      width: 50%;
      font-size: 1.5rem;
      text-align: center;
      padding: 0.275rem;
      color: rgb(255, 255, 255);
      border-radius: 1rem;
      margin-top: 3rem;
      background-color: #2a2c31;
    }

    .slide-nav {
      width: 10rem;
      display: flex;
      justify-content: space-around;

      .icons-nav {
        background-color: transparent;
        border: 2px solid;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
      }
    }
  }
}

// ABOUT US

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.855);
  gap: 3rem;
  padding: 2rem 0;

  .img-container {
    width: 85%;
    height: 14rem;
    background-color: #5a2e2e;
  }

  .text-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 85%;
    gap: 1rem;

    p {
      font-size: 1.5rem;
    }
  }
}

h2 {
  font-family: "Orbitron";
  font-size: 2.5rem;
}

// OUR VALUES

.our-values-section {
  background-color: #fffedf;
  padding: 3rem 0;

  .cards-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 80%;
    width: 90%;
    margin-inline: auto;
    gap: 3rem;

    .our-values-title {
      font-size: 2.5rem;
      font-family: "Orbitron";
      color: #3e4147;
    }

    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icons {
        font-size: 5rem;
      }

      .text-about-values {
        font-size: 1.5rem;
        color: #3e4147;
      }
    }
  }
}

//PROFESSIONALS

.professional-container {
  background-image: linear-gradient(
    rgba(207, 208, 212, 0.563),
    rgba(82, 82, 84, 0.793)
  );
  padding: 3rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.title-professionals {
  text-align: center;
}

.separators {
  border: 1px solid rgba(0, 0, 0, 0.219);
  width: 85%;
  margin-inline: auto;
}

.professional-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.professional-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.professional-img {
  // background-image: url('../assets/img-bianca.webp');
  // background-size: cover;

  img {
    object-fit: cover;
    height: 17rem;
    width: 17rem;
    object-position: center top;
  }
}

.basic-information {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 70%;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.identification {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  font-size: 1.25rem;
}

.job-position {
  font-size: 1.25rem;
}

.information-line {
  display: inline-flex;
  gap: 0.25rem;
}
